@media (min-width: 1200px) {
  img {
    float: right;
    width: auto;
    margin-left: 1rem;
  }

  main {
    max-width: 80%;
    margin: auto;
    display: block;



  }
}




#wrapper {

  margin: 1rem;

  img {
    border: 0.2rem solid var(--colorGrey);
    padding: 0.5rem;


  }

  address {
    div {
      margin: 0.5rem 0;
    }
  }
}

form {
  margin-top: 1rem;
  width: 100%;

  fieldset {
    padding: 1rem;

    input {
      width: 100%;
    }

    #txtComments {
      height: 6rem;

    }

    #nbrPeople {
      width: 10%;
    }

    #date-and-time {
      width: 55%;
    }

    button {
      margin-top: 2rem;
      padding: 0.5rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 1rem;

    }
  }






}